div.banner{
	background:url(../img/join-us-banner.jpg) no-repeat center;
	width:100%;
	height:500px;
}
.main > hr {
    background: url(../img/products-hori-line.png) no-repeat center;
    height: 34px;
    border: none;
    margin-top: 54px;
}
.vacancy-div{
	/*display: flex;
	display: -webkit-flex;
	display: -moz-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    color: #999999;*/
    margin-bottom:50px;
}
.vacancy-div table{
    width:100%;
    text-align:center;
    border-collapse:collapse;
}
.vacancy-div tr{
    cursor:pointer;
}
.vacancy-div table th:nth-of-type(1),
.vacancy-div table td:nth-of-type(1){
    width:60%;
    text-align:left;
}
.vacancy-div table th:nth-of-type(2),
.vacancy-div table td:nth-of-type(2){
    width:10%;
}
.vacancy-div table th:nth-of-type(3),
.vacancy-div table td:nth-of-type(3){
    width:10%;
}
.vacancy-div table th:nth-of-type(4),
.vacancy-div table td:nth-of-type(4){
    width:10%;
}
.vacancy-div table th:nth-of-type(5),
.vacancy-div table td:nth-of-type(5){
    width:10%;
}
@media screen and (max-width:767px){
    .vacancy-div table th:nth-of-type(1),
    .vacancy-div table td:nth-of-type(1){
        width:40%;
    }
    .vacancy-div table th:nth-of-type(2),
    .vacancy-div table td:nth-of-type(2){
        width:15%;
    }
    .vacancy-div table th:nth-of-type(3),
    .vacancy-div table td:nth-of-type(3){
        width:15%;
    }
    .vacancy-div table th:nth-of-type(4),
    .vacancy-div table td:nth-of-type(4){
        width:15%;
    }
    .vacancy-div table th:nth-of-type(5),
    .vacancy-div table td:nth-of-type(5){
        width:15%;
    }
}

.vacancy-div table tr td:nth-of-type(1){
    text-align:left;
}
.vacancy-item {
    width: 35%;
    margin: 60px 65px;
}

@media screen and (min-device-width:320px) and (max-device-width:480px){
	.vacancy-item {
    width: 100%;
    margin: 60px 10px;
	}
}
.vacancy-head {
    position: relative;
    height: 74px;
    font-size:14px;
}
.job-img {
    float: left;
    margin-right: 10px;
}
/*.job-title b {
    font-size: 18px;
    color:#000;
}*/
.job-date {
    /* position: absolute; */
    /* right: 0; */
    /* bottom: 4px; */
    float: right;
    margin-top: -24px;
}
@media screen and (min-device-width:320px) and (max-device-width:480px){
	.job-date {
    /* position: absolute; */
    /* right: 0; */
    /* bottom: 4px; */
    float: none;
    margin-top: 0;
	}
}
.vacancy-item hr {
    width: 100%;
}
.vacancy-des b {
    font-size: 16px;
    color: #000;
}
.vacancy-des ul {
    list-style: initial;
    margin-left: 23px;
    font-size: 14px;
}
.vacancy-des p {
    margin-top: 20px;
}
.search-bar{
    width:75%;
    margin:90px auto;
}
@media screen and (max-width:767px){
    .search-bar{
    width:99%;
    margin:30px auto;
}
}
.search-btn {
    background: #1dafec;
    width: 28%;
    height: 82px;
    line-height: 82px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    text-align: center;
    display: block;
    border-radius: 4px;
    float:left;
}
.search-bar > input{
    height:74px;
    border:3px solid #00b7f9;
    width:50%;
    float:left;
    margin-right:-2px;
    width:70%;
}
.c1{
    margin-top:20px;
}
.c1 b{
    font-size:20px;
}
.c1 ul{
}
.c1 ul > li{
    display:inline-block;
    margin:28px 28px 28px 0;
    height:25px;
    width:60px;
    border:1px solid #cccccc;
    line-height:25px;
    color:#686868;
    background:#fff;
    text-align:center;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    cursor:pointer;
}
@media screen and (max-width:767px){
    .c1 ul > li{
        margin: 16px 3px 16px 0;
    }
}
.c1 ul > li:hover,
.c1 ul li.selected{
    background:#00b7f9;
    color:#fff;
    border:1px solid #00b7f9;
}
.border{
    border-bottom:1px solid #ccc;
}
.vacancy{
    width:75%;
    margin:60px auto 0;
}
@media screen and (max-width:767px){
    .vacancy{
    width:99%;
    margin:30px auto 0;
    }
}
.hide{
    display:none;
}
hr{
    border-top: 1px solid #e6e6e6;
    margin-bottom: 0;
}
th,
.job td{
    line-height:40px;
}
td{
    color:#666666;
    font-size:16px;
}
span.red-label{
    color: #fff;
    background: #fe6f70;
    border-radius: 4px;
    padding: 0px 6px;
    margin-left: 7px;
}
.job-resp,
.job-req{
    margin-top:32px;
}
.job-req{
    margin-bottom:20px;
}